@font-face {
  font-family: 'Pixellari';
  src: local('Pixellari'), url(./fonts/Pixellari.ttf) format('truetype');
}

a {
  color: white;
  text-decoration: underline overline;
}

body {
  background-image: url("images/df.jpg");
  background-color: #cccccc;
  color: #fff;
  font-family: 'Pixellari', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  text-align: center;
  font-size: 2em;
}

h1.header {
  font-size: 6em;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  text-align: center;
  padding: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.active {
  border-top: 2px solid white !important;
  border-bottom: 2px solid white !important;
}

.box {
  margin: 1%;
}

.boxwrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  overflow: hidden;
  font-family: monospace;
  margin-bottom: 20px;
}

.longread {
  padding-bottom: 60px;
}

.whitebg {
  background: white;
  padding: 20px;
  color: black;
}

.box {
  display: table-cell;
  box-sizing: border-box;
}

/*Style the web form*/

form label, form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background-color: transparent;
  text-align: center;
  border: none;
  border-bottom: 2px solid white;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
}

button, form button, .buttonLink {
  color: black;
  width: 100%;
  background-color: #ffffff;
  border: none;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

button:disabled {
  background: red;
}

.buttonLink{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

form {
  text-align: center;
  margin: 0 auto;
  max-width: 320px;
}

.imageoverlay{
  margin-top: -200px;
  text-align: right;
  padding:20px;
  color: white;
}

.imageoverlay h1 {
  font-family: 'Pixellari', monospace;
  font-size:3em;
}

.imageoverlay p {
  font-size: 2em;
}

table {
  width:100%;
  font-family: 'Pixellari';
  font-size:1.2em;
}

/*Smaller screens*/

@media only screen and (max-width: 600px) {
  .box, .box3, ul.header li {
    display: block;
    width: 100%;
    margin-left:0px;
    margin-right:0px;
  }
  /*reset imageoverlay*/
  .imageoverlay{
    margin:0;
    color: black;
    background:white;
  }
}

/*Bigger screens*/

@media only screen and (min-width: 600px) {
  .boxwrapper {
    display: flex;
  }
  .box, .boxwrapper {
    flex: 1;
  }
}